::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-placeholder);
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-placeholder);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-placeholder);
}
select:invalid {
  color: var(--color-placeholder);
}

/* START - label */
:global(.form__label) {
  display: block;
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-weight: 700;
}
/* CLOSE - label */

/* START - control */
:global(.form__control-outer--select) {
  position: relative;
}
:global(.form__control-outer--select::after) {
  content: '';
  position: absolute;
  z-index: 1;
  top: 1.7rem;
  right: 1.8rem;
  display: block;
  border: .5rem solid transparent;
  border-color: var(--color-default) transparent transparent transparent;
}
:global(.form__control) {
  display: block;
  padding: 1.2rem 1.8rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border-black);
  border-radius: var(--border-radius-form-control);
  font-size: 1.2rem;
}
:global(.form__control:focus) {
  outline: none;
  box-shadow: 0px 0px 0px 4px var(--color-tertiary);
}
:global(select.form__control) {
  background: transparent;
  -webkit-appearance: none;
}
:global(select.form__control[name='city'] option) {
  color: var(--color-default);
}
:global(select.form__control[name='city'] option:first-child) {
  color: var(--color-placeholder);
}
/* CLOSE - control */

/* START - check bar */
:global(.form__check-bar) {
  position: relative;
}
:global(.form__check-bar__input) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
:global(.form__check-bar__main) {
  display: block;
  padding: 1.2rem 2rem 1.2rem 7.2rem;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-tertiary);
  border-radius: var(--border-radius-form-control);
  line-height: 1.4;
  cursor: pointer;
}
:global(.form__check-bar__main:hover) {
  border-color: var(--color-default);
  box-shadow: 0px 0px 0px 4px var(--color-tertiary);
}
:global(.form__check-bar__main::before),
:global(.form__check-bar__main::after) {
  content: '';
  position: absolute;
  display: block;
}
:global(.form__check-bar__main::before) {
  top: calc(50% - 1rem);
  left: 2rem;
  z-index: 1;
  border: 1px solid var(--color-default);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
:global(.form__check-bar__main::after) {
  top: calc(50% - .4rem);
  left: 2.6rem;
  z-index: 2;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
}
:global(.form__check-bar__title) {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
}
:global(.form__check-bar__title__price) {
  position: absolute;
  top: 0;
  right: 0;
}
:global(.form__check-bar__note) {
  margin-top: 0.2rem;
}

/* when checked */
:global(.form__check-bar__input:checked ~ .form__check-bar__main) {
  border-color: var(--color-default);
  box-shadow: none;
}
:global(.form__check-bar__input:checked ~ .form__check-bar__main::before) {
  background-color: var(--color-default);
}
:global(.form__check-bar__input:checked ~ .form__check-bar__main::after) {
  background-color: var(--color-white);
}
/* CLOSE - check bar */