/* breakpoints */
@value sm: 576px;
@value md: 768px;
@value lg: 992px;
@value xl: 1200px;
@value xxl: 1400px;


/* colors */
@value color-main-pink: #F67599;
@value color-main-black: #333333;
@value color-default: #2a2a2a;
@value color-white: #fff;
@value color-muted: #AFB1BD;
@value color-tertiary: #F0F0F5;


/* spacer */
@value spacer: 1rem;

:root {
  /* breakpoints */
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  /* colors */
  --color-main-pink: #F67599;
  --color-main-black: #333333;
  --color-default: #2a2a2a;
  --color-white: #fff;
  --color-muted: #AFB1BD;
  --color-tertiary: #F0F0F5;

  /* spacer */
  --spacer: 1rem;
}